In [1]:
import pandas as pd
import numpy as np
from bs4 import BeautifulSoup
from requests import get
from sqlalchemy import create_engine
import pymysql

In [2]:
headers = {'User-Agent': 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_11_6) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/61.0.3163.100 Safari/537.36'}
url = 'https://www.highspeedtraining.co.uk/available-courses/'
response = get(url,headers = headers)
soup = BeautifulSoup(response.content,'html.parser')

#### soup.find('div',class_='col-sm-8').h2.a.text

In [3]:
# Extract the title and links
title = []
link = []
price = []
for i in soup.find_all('div',class_='col-sm-8'):
    for j in i.h2.a:
        title.append(j)
    
    link.append(i.h2.a.get('href')) 

# Extract price 
for i in soup.find_all('div',class_='product-price'):
    price.append(i.text.strip())
    

# Create a df of title
df = pd.DataFrame({'course_title':title,'link':link,'price':price})
df.head()

,course_title,link,price
0,Level 2 Food Hygiene and Safety for Catering,../food-safety/training/level2-food-hygiene-sa...,£20 +VAT
1,Asbestos Awareness (Category A) Training Course,../health-and-safety/online-asbestos-awareness...,£25 +VAT
2,Manual Handling Training,../health-and-safety/online-manual-handling-tr...,£25 +VAT
3,Level 3 Supervising Food Safety in Catering,../food-safety/training/level3-supervising-foo...,£125 +VAT
4,Work At Height Training,../health-and-safety/online-working-at-heights...,£25 +VAT

In [4]:
# Remove .. from every link
new_link = []
for i in df.link:
    new_link.append(i.replace('..',''))

In [5]:
# Now add 'https://www.highspeedtraining.co.uk' to every link to make them hyperlink
complete_link = []
for i in new_link:
    complete_link.append('https://www.highspeedtraining.co.uk'+i)

In [6]:
# Create the final df
df['complete_link'] = complete_link

# Drop the link
df.drop('link',axis=1,inplace=True)

# Clean price, remove pound sign
df.price =df.price.str.replace('£','')

In [7]:
# Write to csv file
df.to_csv('highspeed_training_22_oct.csv',index=False)

In [8]:
# Write to mysql db
"Append virtual college course information" 
# mysql+pymysql://username:password@host:port/database
conn_string = 'mysql+pymysql://root:6125@localhost:3306/highspeed_training'
cnx = create_engine(conn_string)

# This will create a table named 'all_courses' if not created earlier in highspeed_training that I created earlier. 
# If table was already created, it will just append the information to the table 'all_courses'.
## Write to a current database with the table name 'all_courses'##
df.to_sql('all_courses',cnx, if_exists='append',index=False)